@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>East Delta University</h1>
    <p class="lead">East Delta University is a private university in Chittagong, Bangladesh. It received the government's license in 2006 and started its academic operation in February 2008. East Delta University offers 6 undergraduate and 2 postgraduate programs.</p>
    <p><a href="https://www.eastdelta.edu.bd/" class="btn btn-primary btn-lg">Learn more &raquo;</a></p>
</div>

<div class="row">
    <div class="col-md-4">
        <h2>Getting started</h2>
        <p>
            Our Sincere Pledge to All Students: The University is committed to bringing the best possible education opportunities in Chittagong.
            </p>
        <p><a class="btn btn-default" href="https://www.eastdelta.edu.bd/">Learn more &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Help Desk</h2>
        <p>Our Sincere Pledge to All Students: The University is committed to bringing the best possible education opportunities in Chittagong:</p>
        <p><a class="btn btn-default" href="https://www.eastdelta.edu.bd/">Learn more &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Permanent Campus</h2>
        <p>Our Sincere Pledge to All Students: The University is committed to bringing the best possible education opportunities in Chittagong:</p>
        <p><a class="btn btn-default" href="https://www.eastdelta.edu.bd/">Learn more &raquo;</a></p>
    </div>
</div>