
@{
    ViewBag.Title = "Unassign";
}

<h2>Unassign</h2>

@using (Html.BeginForm("UnassignClasses", "Class", FormMethod.Post))
{
    <input id="Unassign-Click" type="submit" value="Unassign Classes" class="btn btn-danger" />
}

@section scripts
{
    <script>
        $(function() {

            $("#Unassign-Click").click(function() {
                var result = confirm("Are You Sure To Unassign All Courses ?");
                if (result == false) {
                    return false;
                }
            });

        });
    </script>
}
